<div id="offcanvas" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-list uk-list-divider">
            <li class="uk-profile"><a href="#"><img class="uk-border-circle uk-margin-small-left" src="images/user-profile.png" width="100" height="100" alt="Border circle"> 
            <br> Welcome Ian </a></li>
            <li><a href="#">Flights</a></li>
            <li class="uk-active"><a href="#">Hotels</a></li>
            <li><a href="#">Sabre</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </div>
</div>